/*
    Home
*/
.menuContainerNav--menu-principal {
  background-color: #232f3e;
}

.menuContainer--menu-principal {
  height: 25px;
  padding: 0 0 20px 20px;
  justify-content: flex-start;
}

.menuItem--item-menu .styledLinkContent {
  color: #ddd;
  font-size: 0.95rem;
}

.styledLinkContainer--item-menu {
  padding: 0;
}
