/*
    Header
*/
.flexRow--row-principal {
    width: 100%;
    height: 70px;
    padding: 10px 20px 0 20px;
    justify-content: space-between;  
    background-color: #232F3E;  
}

/*
    Home
*/
.flexRow--row-slider-principal{
    display: flex;
    justify-content: center;
}



.flexRowContent--row-produtos{
    flex-direction: column;
    background-color: #f2f4f4;
}

.flexRow--row-card-produto{    
    border-top: 5px solid #232F3E;
}

.flexRowContent--row-card-produto{
    flex-direction: column;
}

.flexRowContent--row-card-produto .stretchChildrenWidth{
    padding-top: 5px;
    background-color: #FFFFFF;
}

