/*
    Home
*/
.sliderTrackContainer--carousel-principal{
    width: 100%;
    }

.sliderLayoutContainer--carousel-produto{
    justify-content: center;
}

.sliderTrackContainer--carousel-produto{
    width: 100%;
}

.slideChildrenContainer--carousel-produto{
    
    width: 100%;
}