/*
    Home
*/
.container--rich-solucoes{
    justify-content: center;
    background-color: #eee;
    
}

.wrapper--rich-solucoes .paragraph{
    font-size: 2rem;
    color: #232f3e;
}

.container--subtitulo-produtos{
    padding-left: 10px;
    
}

.heading{
    font-size: 1.5rem;
}


