/*
    Home
*/
.menuContainerNav--menu-principal{
    background-color: #232F3E;
}

.menuContainer--menu-principal{    
    height: 25px;
    padding: 0 0 20px 20px;
    justify-content: flex-start;
    
}

.menuItem--item-menu .styledLinkContent{
    color: #ddd;
}

.styledLinkContainer--item-menu{
    padding: 0;
}

/* Footer */

.menuContainerNav
.menuContainerNav--footerTexto2{
    color: #ddd;
    padding: 2px;
    margin-top: 20px;
    font-size: 18px;
}