/*
    Header
*/
.flexRow--row-principal {
    width: 100%;
    height: 70px;
    padding: 10px 20px 0 20px;
    justify-content: space-between;    
}

.flexRow--row-principal,
.flexRow--row-menu{
    background-color: #232F3E;
}

.flexRow--row-menu{    
    padding-left: 20px;
    height: 30px;
}

/*
    Home
*/
.flexRow--row-slider-principal{
    display: flex;
    justify-content: center;
}
