.paragraph--footerTexto{
    text-align: justify;
    color: #ddd;
    padding: 2px;
    margin-top: 10px;
    font-family: 'AmazonEmber';
    font-size: 18px;
}

.wrapper
.wrapper--footerTexto{
    flex-direction: column;
    margin-left: 20px;
}