/*
    Header
*/
.flexRow--row-principal {
    width: 100%;
    height: 70px;
    padding: 10px 20px 0 20px;
    justify-content: space-between;  
    background-color: #232F3E;  
}

/*
    Home
*/
.flexRow--row-slider-principal{
    display: flex;
    justify-content: center;
}

