/*
    Home
*/
.container--rich-solucoes{
    justify-content: center;
}

.wrapper--rich-solucoes .paragraph{
    font-size: 60px;
    color: #232f3e;
}

.container--subtitulo-produtos{
    padding-left: 10px;
}

/* Footer */

.paragraph--footerTexto{
    text-align: justify;
    color: #ddd;
    padding: 2px;
    margin-top: 10px;
    font-size: 16px;
}

.wrapper
.wrapper--footerTexto{
    flex-direction: column;
    margin-left: 20px;
}