.container{
    margin-top:2rem;
    display:flex;
    vertical-align: middle;
    align-items: center;
    width:100%;
    background-color: #232F3E;  
    height: 200px;
}

.leftText{
    padding: 40px;
    width:50%;
    margin-right: 2rem;
}

.leftText h3 {
    color:rgb(255,153,0);
    font-size:1.5rem;
}

.leftText p{
    color:white;
    font-size:1.2rem;
    letter-spacing: .5px;
}

.inputFormat{
    padding:40px;
    width: 50%;    
}


.formStyle{    
    display:flex;    
    width: 300px;
    margin:auto;        
    width: 80%;    
}

.emailInput{        
    height: 30px;    
    padding:10px;
    width:100%;    
    outline:none;
    border:none;
    background-color: transparent;
    border-bottom: 1.5px solid white;
    color:white;
}

.inputFormat p{
    color:white;
    width: 80%;    
    line-height: 18px;    
    margin:auto;
    padding: 10px;
    font-size:12px;
}

input[type="email"]::placeholder{
    color:white;
    font-weight: bold;
    letter-spacing: .5px;    
    opacity:1;
}


.btnSend{            
    height:20px;
    width:20px;
    outline:none;    
    cursor: pointer;
    margin-left:1rem;
    background-color: transparent;
    border:none;
    color:#eee;
    font-weight: bolder;
    font-size:1.5rem;
    
}

@media screen and (max-width:700px){
    .container{
        flex-direction: column;
        height: fit-content;
    }    
    .leftText{
        text-align:center;
        padding:0;
        margin:0;
        width:90%;
    }
    .formStyle {
        flex-direction: column;
    }
    .inputFormat {
        text-align: center;
        width:100%;
    }
}