.listContainer{
    width:600px;   
    margin: auto;
}

.listTitle{
    color:#D1640A;
    text-align: center;
    margin-left:2rem;
    font-size:1.5rem;
}

table{
    border-collapse: collapse;
    padding:10px;
    margin: auto;
}

td,th{
    border:1px solid #232f3e;
    padding: .5rem;
    text-align: center;
    font-size: 13px;    
}

